.description-link {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  width: 100%;
}

.description-link i {
  font-size: 1.2em;
  display: block;
  width: 25px;
  margin-right: 0.5em;
  text-align: center;
}

@media (min-width: 700px) {
  .description-link {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .description-link {
    width: 25%;
    justify-content: center;
  }
}
