.form-item input:focus {
  outline: none;
  background-color: rgba(0, 153, 255, 0.15);
}

.form-item input[type='submit'] {
  color: white;
  background-color: rgba(0, 153, 255);
  font-weight: 700;
}

.form-item input[type='submit']:hover,
.form-item input[type='submit']:active {
  filter: brightness(115%);
}

.generic-form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s;
  margin-bottom: 0.5em;
}

.active {
  max-height: 1000px;
}
